include _mixins
block footer

    footer#footer.footer

        #contacts.footer-s.wf-section

            .container._3
                h2.heading-5 CONTACTS
                .div-block-15
                    a.phone(href='tel:+74956483611') +7 (495) 648 36 11
                    a.email(href='mailto:school@russianseasons.org') school@russianseasons.org
                .div-block-15._2
                    .div-block-11._2
                        a.fb.big.w-inline-block(href='#' target='_blank' style="background-image:url('assets/images/60315366309be99093714570_facebook201201.svg');")
                        a.insta.big.w-inline-block(href='#' target='_blank' style="background-image:url('assets/images/603152bbf83d448126821751_instagram201201.svg');")

            .div-block-27
                .div-block-38
                    a.link-3(href='#') Privacy
                    .text-block-9
                        | © school.russianseasons.org, 2021
                a.link-block-4.webcat.w-inline-block(href='#' target='_blank')
                    .text-block-10 Design by
                    img.image-16.webcat(src='assets/images/60325d1ccf48e51eba0155a7_webcat201.svg' loading='lazy' alt='')