include _mixins
block header

    header#header.header

        .navbar.w-nav.visible(data-collapse='medium' data-animation='default' data-duration='400' style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; opacity: 1;")

            div

                .menu-container.w-container(class= page == 'gallery-video' ? 'black' : '')

                    a.brand.w-nav-brand(href='/')
                        img.image(src='assets/images/60315492650d6785b5c81b96_logo_red.svg' loading='lazy' alt='' title='')

                    nav.nav-menu.w-nav-menu

                        .div-block-39

                            .div-block-9
                                a.nav-link.w-nav-link(title='' target='_self' href='https://school.russianseasons.org/#about') About

                                .nav-link.w-dropdown(data-ix='new-interaction' data-hover='1')
                                    .dropdown-toggle.w-dropdown-toggle
                                        div Sessions
                                        .icon.w-icon-dropdown-toggle
                                    nav.dropdown-list.w-dropdown-list
                                        a.dropdown-link.w-dropdown-link(title='' target='_self' href='#') Art Session in the Republic of Senegal 2022
                                        a.dropdown-link.w-dropdown-link(title='' target='_self' href='#') Art session 2022
                                        a.dropdown-link.w-dropdown-link(title='' target='_self' href='#') Choreography Session 2022
                                        a.dropdown-link.w-dropdown-link(title='' target='_self' href='#') Art Session 2021
                                        a.dropdown-link.w-dropdown-link(title='' target='_self' href='#') Music Session 2021
                                        a.dropdown-link.w-dropdown-link(title='' target='_self' href='#') Choreography Session 2021
                                        a.dropdown-link.w-dropdown-link(title='' target='_self' href='#') Art Session 2020
                                        a.dropdown-link.w-dropdown-link(title='' target='_self' href='#') Theatre Session 2020
                                        a.dropdown-link.w-dropdown-link(title='' target='_self' href='#') Special course

                                .nav-link.w-dropdown(data-ix='new-interaction' data-hover='1')
                                    .dropdown-toggle.w-dropdown-toggle
                                        div Festival
                                        .icon.w-icon-dropdown-toggle
                                    nav.dropdown-list.w-dropdown-list
                                        a.dropdown-link.w-dropdown-link(title='' target='_self' href='#') FESTIVAL 2022
                                        a.dropdown-link.w-dropdown-link(title='' target='_self' href='#') Festival 2021

                                .nav-link.w-dropdown(data-ix='new-interaction' data-hover='1')
                                    .dropdown-toggle.w-dropdown-toggle
                                        div Gallery
                                        .icon.w-icon-dropdown-toggle
                                    nav.dropdown-list.w-dropdown-list
                                        a.dropdown-link.w-dropdown-link(title='' target='_self' href='#') Video
                                        a.dropdown-link.w-dropdown-link(title='' target='_self' href='#') Photos

                                a.nav-link.w-nav-link(title='' target='_self' href='#') Partners

                                a.nav-link.w-nav-link(title='' target='_self' href='#contacts') Contacts

                            .div-block-3
                                .div-block-11
                                    a.fb.w-inline-block(href='#' target='_blank')
                                    a.insta.w-inline-block(href='#' target='_blank')

                                .div-block-73
                                    a.link.link--border(href='/ru/') Ru
                                    a.link.link--border.w--current(href='/' aria-current='page') en

                    .menu-button.w-nav-button
                        a.menu-icon.w-inline-block.w-clearfix(href='#')
                            .menu-icon__line.left
                            .menu-icon__line
                            .menu-icon__line.right