link(rel="stylesheet", href="assets/css/jquery.fancybox.min.css")
link(rel="stylesheet", href="assets/css/main.css")
link(rel="stylesheet", href="assets/css/slick-theme.min.css")
link(rel="stylesheet", href="assets/css/slick.min.css")