script(src="assets/js/plugins/plugins.min.js")
script(src="assets/js/main.js")
script(src="assets/js/front.js")
script(src="assets/js/shop.js")
script.
    $('.slider2').slick({
        nextArrow: $('.next1'),
        prevArrow: $('.prev1'),
        slidesToShow: 1,
        slidesToScroll: 1,
    });