---
title: Russian Seasons | Gallery Photo
page: gallery
---

extends includes/_page

block main

    div
        .gallery-s-single.wf-section
            div
                .div-block-79
                    .div-block-78
                        .div-block-71.photos(data-w-id="0c59eec5-8e1f-e910-52a7-5c6c2b63776a" style='transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); opacity: 1; transform-style: preserve-3d;')
                            .div-block-72
                            h2.h2-gallery
                                | Summer Festival
                                span.red 2022

                    .gallery
                        a.lightbox-link._2.w-inline-block.w-lightbox(href='#')
                            .gallery-item._2(style="background-image:url('assets/images/fest2021-gal-1.jpg');")
                            script.w-json(type='application/json').
                                {"group":"\\u0413\u0430\u043b\u0435\u0440\u0435\u044f \u0421\u0435\u0441\u0441\u0438\u0438","items":[{"url":"assets/images/fest2021-gal-1.jpg","type":"image","caption":""}]}

                        a.lightbox-link._2.w-inline-block.w-lightbox(href='#')
                            .gallery-item._2(style="background-image:url('assets/images/fest2021-gal-1.jpg');")
                            script.w-json(type='application/json').
                                {"group":"\\u0413\u0430\u043b\u0435\u0440\u0435\u044f \u0421\u0435\u0441\u0441\u0438\u0438","items":[{"url":"assets/images/fest2021-gal-1.jpg","type":"image","caption":""}]}

                        a.lightbox-link._2.w-inline-block.w-lightbox(href='#')
                            .gallery-item._2(style="background-image:url('assets/images/fest2021-gal-1.jpg');")
                            script.w-json(type='application/json').
                                {"group":"\\u0413\u0430\u043b\u0435\u0440\u0435\u044f \u0421\u0435\u0441\u0441\u0438\u0438","items":[{"url":"assets/images/fest2021-gal-1.jpg","type":"image","caption":""}]}

                        a.lightbox-link._2.w-inline-block.w-lightbox(href='#')
                            .gallery-item._2(style="background-image:url('assets/images/fest2021-gal-1.jpg');")
                            script.w-json(type='application/json').
                                {"group":"\\u0413\u0430\u043b\u0435\u0440\u0435\u044f \u0421\u0435\u0441\u0441\u0438\u0438","items":[{"url":"assets/images/fest2021-gal-1.jpg","type":"image","caption":""}]}

                        a.lightbox-link._2.w-inline-block.w-lightbox(href='#')
                            .gallery-item._2(style="background-image:url('assets/images/fest2021-gal-1.jpg');")
                            script.w-json(type='application/json').
                                {"group":"\\u0413\u0430\u043b\u0435\u0440\u0435\u044f \u0421\u0435\u0441\u0441\u0438\u0438","items":[{"url":"assets/images/fest2021-gal-1.jpg","type":"image","caption":""}]}

                        a.lightbox-link._2.w-inline-block.w-lightbox(href='#')
                            .gallery-item._2(style="background-image:url('assets/images/fest2021-gal-1.jpg');")
                            script.w-json(type='application/json').
                                {"group":"\\u0413\u0430\u043b\u0435\u0440\u0435\u044f \u0421\u0435\u0441\u0441\u0438\u0438","items":[{"url":"assets/images/fest2021-gal-1.jpg","type":"image","caption":""}]}

                .div-block-79
                    .div-block-78
                        .div-block-71.photos(data-w-id="0c59eec5-8e1f-e910-52a7-5c6c2b63776a" style='transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); opacity: 1; transform-style: preserve-3d;')
                            .div-block-72
                            h2.h2-gallery
                                | Summer Festival
                                span.red 2021

                    .gallery
                        a.lightbox-link._2.w-inline-block.w-lightbox(href='#')
                            .gallery-item._2(style="background-image:url('assets/images/fest2021-gal-1.jpg');")
                            script.w-json(type='application/json').
                                {"group":"\\u0413\u0430\u043b\u0435\u0440\u0435\u044f \u0421\u0435\u0441\u0441\u0438\u0438","items":[{"url":"assets/images/fest2021-gal-1.jpg","type":"image","caption":""}]}

                        a.lightbox-link._2.w-inline-block.w-lightbox(href='#')
                            .gallery-item._2(style="background-image:url('assets/images/fest2021-gal-1.jpg');")
                            script.w-json(type='application/json').
                                {"group":"\\u0413\u0430\u043b\u0435\u0440\u0435\u044f \u0421\u0435\u0441\u0441\u0438\u0438","items":[{"url":"assets/images/fest2021-gal-1.jpg","type":"image","caption":""}]}

                        a.lightbox-link._2.w-inline-block.w-lightbox(href='#')
                            .gallery-item._2(style="background-image:url('assets/images/fest2021-gal-1.jpg');")
                            script.w-json(type='application/json').
                                {"group":"\\u0413\u0430\u043b\u0435\u0440\u0435\u044f \u0421\u0435\u0441\u0441\u0438\u0438","items":[{"url":"assets/images/fest2021-gal-1.jpg","type":"image","caption":""}]}

                        a.lightbox-link._2.w-inline-block.w-lightbox(href='#')
                            .gallery-item._2(style="background-image:url('assets/images/fest2021-gal-1.jpg');")
                            script.w-json(type='application/json').
                                {"group":"\\u0413\u0430\u043b\u0435\u0440\u0435\u044f \u0421\u0435\u0441\u0441\u0438\u0438","items":[{"url":"assets/images/fest2021-gal-1.jpg","type":"image","caption":""}]}

                        a.lightbox-link._2.w-inline-block.w-lightbox(href='#')
                            .gallery-item._2(style="background-image:url('assets/images/fest2021-gal-1.jpg');")
                            script.w-json(type='application/json').
                                {"group":"\\u0413\u0430\u043b\u0435\u0440\u0435\u044f \u0421\u0435\u0441\u0441\u0438\u0438","items":[{"url":"assets/images/fest2021-gal-1.jpg","type":"image","caption":""}]}

                        a.lightbox-link._2.w-inline-block.w-lightbox(href='#')
                            .gallery-item._2(style="background-image:url('assets/images/fest2021-gal-1.jpg');")
                            script.w-json(type='application/json').
                                {"group":"\\u0413\u0430\u043b\u0435\u0440\u0435\u044f \u0421\u0435\u0441\u0441\u0438\u0438","items":[{"url":"assets/images/fest2021-gal-1.jpg","type":"image","caption":""}]}