---
title: Russian Seasons | Главная
---

extends includes/_page

block main

    div

        .hero-section.wf-section
            .hero_content
                .div-block-37
                    h1.h1(style='-webkit-transform:translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0')
                        | INNOPRAKTIKA &amp; RUSSIAN SEASONS<br>
                        span.red SCHOOL
                    p.paragraph(style='-webkit-transform:translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0')
                      | New international project to support young artists interested in Russian culture

                .div-block-4
                    .slider-2.w-slider(data-delay='3000' data-animation='slide' data-autoplay='1' data-duration='500' data-infinite='1')
                        .mask-2.w-slider-mask
                            .slide-2.w-slide
                                .div-block-51
                                    a.div-block-50.w-inline-block(href='#')
                                        h3.heading-2 Film Global values
                                        .link-block-2
                                            .text-block-4 More
                                            img.image-2(src='assets/images/602a9b198ccaa1ad9718f56c_diagonal-arrow201.svg' loading='lazy' alt='' title='')
                        .left-arrow-2.w-slider-arrow-left
                            .icon-2.w-icon-slider-left
                        .right-arrow-2.w-slider-arrow-right
                            .icon-3.w-icon-slider-right
                        .slide-nav-2.w-slider-nav.w-round

            .background-video.w-background-video.w-background-video-atom(data-poster-url='assets/images/602aa54405a0871a56c12759_video_bg-transcode.webm' data-autoplay='true' data-loop='true')
                video(autoplay='' loop='' style='background-image:url("assets/images/602aa54405a0871a56c12759_video_bg-poster-00001.jpg")' muted='' playsinline='' data-object-fit='cover')
                    source(src='assets/images/602aa54405a0871a56c12759_video_bg-transcode.mp4')
                    source(src='assets/images/602aa54405a0871a56c12759_video_bg-transcode.webm')

        #about.about-s
            .container
                .div-block-14
                    .div-block-33
                        .div-block-12(style='-webkit-transform:translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0')
                            .div-block-32
                            h2.h2 ABOUT THE PROJECT
                        p.paragraph-3(style='-webkit-transform:translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0')
                            | We are an international educational project, which discovers Russia for overseas art students and contributes to the development of intercultural dialogue between representatives of different countries, artistic views and esthetic traditions. The school was initiated by Innopraktika and Russian Seasons cultural project.

                    .div-block-13
                        .div-block-12(style='-webkit-transform:translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0')
                            .div-block-32
                            h2.h2 GOALS AND OBJECTIVES
                        p.paragraph-3(style='-webkit-transform:translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0')
                            | INNOPRAKTIKA AND RUSSIAN SEASONS SCHOOL activity is driven by the principles of cultural relations where prior experience and today’s realities are of equal importance. In the school, coaches from Russia's top educational institutions will help international students from different countries comprehend common patterns and reveal subtleties, which helps create a world of shared global values, where people aspire to achieve unity through art.
                img.image-4(src='assets/images/60315a54b94f7867a8c0d8b4_logo_grey_big.svg' loading='lazy' style='-webkit-transform:translate3d(50px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(50px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(50px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(50px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0' alt='' title='')

        .art-s
            .container
                div
                    h2.heading-3 Art Session
                        span.orange 2022

                    .div-block-15
                        p.paragraph-4 June 10 – June 29, 2022
                        p.paragraph-4.short Russia, Saint Petersburg.
                            br
                            | St. Petersburg Academy of Fine Arts

                    .div-block-15
                        a.btn.w-inline-block(href='#')
                            .text-block-6 More details
                            img.image-5(src='assets/images/60315dbd7bdaa931b5abef54_diagonal-arrow201.svg' loading='lazy' alt='' title='')

                .div-block-16
                    img.image-6(src='assets/images/60315f5495e9145829cddc12_rain.svg' loading='lazy' alt='' title='')
                    img.image-8(src='assets/images/60315f4ce200f0e19aef6155_img2201.jpg' loading='lazy' alt='')
                    img.image-7(src='assets/images/60315f4cea54ca3be4d2fc85_img1201.jpg' loading='lazy' alt='')

        .music-s
            .div-block-17(style='background-color: #e00612;')
            .container._2
                .div-block-18
                    img.image-14(src='assets/images/603162a50f36e83e52d4f0f2_img3201.jpg' loading='lazy' alt='')
                .div-block-34
                    h2.heading-3 Music session
                        span.red-mob 2021

                    .div-block-15
                        p.paragraph-4.white July 1 - July 21, 2021
                        p.paragraph-4 Russia, St. Petersburg, Rimsky-Korsakov St. Petersburg State Conservatory

                    .div-block-15
                        .div-block-35
                            a.btn.w-inline-block(href='#')
                                .text-block-6 More details
                                img.image-5(src='assets/images/60315dbd7bdaa931b5abef54_diagonal-arrow201.svg' loading='lazy' alt='' title='')
                        a.btn-mob.w-inline-block(href='#')
                            .text-block-6 More details
                            img.image-5(src='assets/images/602a9b198ccaa1ad9718f56c_diagonal-arrow201.svg' loading='lazy' alt='' title='')

        .ballet-s
            .container._2
                div
                    h2.heading-3 Choreo
                        br
                        | graphy Session
                        span.red 2022

                    .div-block-15
                        p.paragraph-4 July 4 - July 25, 2022
                        p.paragraph-4.short Russia, St. Petersburg,
                            br
                            | Boris Eifman Dance Academy

                    .div-block-15
                        p.paragraph-4
                        p.paragraph-4

                    .div-block-15
                        a.btn.w-inline-block(href='#')
                            .text-block-6 More details
                            img.image-5(src='assets/images/60315dbd7bdaa931b5abef54_diagonal-arrow201.svg' loading='lazy' alt='' title='')

                .div-block-19
                    img.image-9(src='assets/images/60321d228a9cfa5e239c25f4_img4.jpg' loading='lazy' alt='' title='')
                    img.image-11(src='assets/images/60321eb2d3c9888512261e7c_Ellipse.svg' loading='lazy' alt='' title='')
                    img.image-10(src='assets/images/60321d2229d2052848dfcbac_img5.jpg' alt='' title='')

        .art-s
            .container
                div
                    h2.heading-3 ART SESSION in the Republic of Senegal<br>
                        span.orange 2022

                    .div-block-15
                        p.paragraph-4 May 02 - May 13, 2022
                        p.paragraph-4.short Place du Souvenir Africain, Dakar, Senegal

                    .div-block-15
                        a.btn.w-inline-block(href='#')
                            .text-block-6 MORE DETAILS
                            img.image-5(src='assets/images/60315dbd7bdaa931b5abef54_diagonal-arrow201.svg' loading='lazy' alt='' title='')

                .div-block-16
                    img.image-6(src='assets/images/60315f5495e9145829cddc12_rain.svg' loading='lazy' alt='' title='')
                    img.image-8(src='assets/images/unnamed-2-scaled.jpg' loading='lazy' alt='' title='')
                    img.image-7(src='assets/images/unnamed-3-scaled.jpg' loading='lazy' alt='' title='')

        .past-s
            .container._3.w-container
                .div-block-33
                    .div-block-12.short(style='-webkit-transform:translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0')
                        .div-block-32
                        h2.h2 PAST SESSIONS

                .div-block-65(style='-webkit-transform:translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0')
                    .slider.w-slider(data-animation='slide' data-easing='ease-out-expo' data-duration='1500' data-infinite='1')
                        .mask.w-slider-mask
                            .slide.w-slide
                                .div-block-28
                                    .img(style="background-image:url('assets/images/mus2021-35.jpg');")
                                    .div-block-31
                                    .div-block-30
                                        h3.heading-6 Music Session 2021
                                        a.btn.white.w-inline-block(href='#')
                                            .text-block-6 More details
                                            img.image-5(src='assets/images/60315dbd7bdaa931b5abef54_diagonal-arrow201.svg' loading='lazy' alt='')

                            .slide.w-slide
                                .div-block-28
                                    .img(style="background-image:url('assets/images/art2021-42.jpg');")
                                    .div-block-31
                                    .div-block-30
                                        h3.heading-6 Art Session 2021
                                        a.btn.white.w-inline-block(href='#')
                                            .text-block-6 More details
                                            img.image-5(src='assets/images/60315dbd7bdaa931b5abef54_diagonal-arrow201.svg' loading='lazy' alt='')

                            .slide.w-slide
                                .div-block-28
                                    .img(style="background-image:url('assets/images/Screenshot_21.png');")
                                    .div-block-31
                                    .div-block-30
                                        h3.heading-6 Theatre Session 2020
                                        a.btn.white.w-inline-block(href='#')
                                            .text-block-6 More details
                                            img.image-5(src='assets/images/60315dbd7bdaa931b5abef54_diagonal-arrow201.svg' loading='lazy' alt='')

                            .slide.w-slide
                                .div-block-28
                                    .img(style="background-image:url('assets/images/6048a456654ea86e235304ce_art2020-tiny-300x200-1.jpg');")
                                    .div-block-31
                                    .div-block-30
                                        h3.heading-6 Art Session 2020
                                        a.btn.white.w-inline-block(href='#')
                                            .text-block-6 More details
                                            img.image-5(src='assets/images/60315dbd7bdaa931b5abef54_diagonal-arrow201.svg' loading='lazy' alt='')

                            .slide.w-slide
                                .div-block-28
                                    .img(style="background-image:url('assets/images/chor2021-19.jpg');")
                                    .div-block-31
                                    .div-block-30
                                        h3.heading-6 Choreography Session 2021
                                        a.btn.white.w-inline-block(href='#')
                                            .text-block-6 More details
                                            img.image-5(src='assets/images/60315dbd7bdaa931b5abef54_diagonal-arrow201.svg' loading='lazy' alt='')

                    .left-arrow.w-slider-arrow-left
                        .div-block-29
                            img.image-12(src='assets/images/6032508913c0e6d9daffd3d9_left20arrow.svg' loading='lazy' alt='')
                            .icon-2.black.w-icon-slider-left

                    .right-arrow.w-slider-arrow-right
                        .div-block-29
                            img.image-12(src='assets/images/6032508aeb46291dbbf4339b_right20arrow.svg' loading='lazy' alt='')
                            .icon-3.black.w-icon-slider-right

                    .slide-nav.w-slider-nav.w-round

        div
            #partners.partner-s
                .container._3
                    .div-block-81
                        .logo-gazprom
                            .heading-sponsor GENERAL SPONSOR
                            a.logo-partner.general.w-inline-block(href='#' target='_blank' style="background-image:url('assets/images/Gazprom-Logo-En-1-1.png');")

                        .logo-wrp
                            .heading-partners PARTNERS
                            .div-block-83
                                a.logo-partner._2.w-inline-block(href='#' target='_blank' style="background-image:url('assets/images/60460e659d80213f73303e23_gitis.svg');")
                                a.logo-partner._3.w-inline-block(href='#' target='_blank' style="background-image:url('assets/images/60460e65dc183d61d6da158d_conservatory.svg');")
                                a.logo-partner._4.w-inline-block(href='#' target='_blank' style="background-image:url('assets/images/60460e66f1cae4b78a2dba2d_MDCCLVII3-tiny.png');")
                                a.logo-partner._5.w-inline-block(href='#' target='_blank' style="background-image:url('assets/images/60460e6535f358b4c7d3f568_eifman-tiny.png');")