---
title: Russian Seasons | Partners
page: gallery
---

extends includes/_page

block main

    .div-block-87
        div
            #partners.partner-s.wf-section(style='background-color: #ffffff;')
                .container._3
                    .div-block-81
                        .logo-gazprom
                            .heading-sponsor GENERAL SPONSOR
                            a.logo-partner.general.w-inline-block(href='https://www.gazprom.ru/' target='_blank' style="background-image:url('assets/images/Gazprom-Logo-En-1-1.png');")

                        .logo-wrp
                            .heading-partners PARTNERS
                            .div-block-83
                                a.logo-partner._2.w-inline-block(href='https://www.gitis.net/' target='_blank' style="background-image:url('assets/images/60460e659d80213f73303e23_gitis.svg');")
                                a.logo-partner._3.w-inline-block(href='https://www.conservatory.ru/' target='_blank' style="background-image:url('assets/images/60460e65dc183d61d6da158d_conservatory.svg');")
                                a.logo-partner._4.w-inline-block(href='http://www.artsacademy.ru/' target='_blank' style="background-image:url('assets/images/60460e66f1cae4b78a2dba2d_MDCCLVII3-tiny.png');")
                                a.logo-partner._5.w-inline-block(href='https://eifmanacademy.ru/' target='_blank' style="background-image:url('assets/images/60460e6535f358b4c7d3f568_eifman-tiny.png');")