---
title: Russian Seasons | Sessions
---

extends includes/_page

block main

    div

        div
            .ballet-2021-s.wf-section(style="background-image:url('https://school.russianseasons.org/wp-content/uploads/2022/05/unnamed20-scaled.jpg'); background-position: center top;")
                .background.ballet

                .hero-content-sessions(style='transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); opacity: 1; transform-style: preserve-3d;')
                    .div-block-37
                        h1.h1-session.ballet-mob
                        h1.h1-session.ballet Art Session
                        .div-block-82
                            p.paragraph-7 in the Republic of Senegal 2022

                .color-label.ballet(style='transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; opacity: 1;')
                    .div-block-41
                        .div-block-42
                            .text-block-11 LOCATION:
                            .text-block-12.ballet
                                | Place du Souvenir Africain,
                                br
                                | Dakar, Senegal
                            .div-block-90
                                .text-block-12.ballet

                        .div-block-42
                            .text-block-11 DATES:
                            .text-block-12.ballet From May 02 - May 13, 2022
                            .div-block-90
                                .text-block-12.ballet

                        .div-block-42
                            .text-block-11 COURSES:
                            .text-block-12.ballet Painting, Sculpture

                        .div-block-42.tmp
                            .text-block-11 Information
                            .text-block-12 About St. Peterburg
                            .div-block-53
                                a.btn.white.w-inline-block(href='#')
                                    .text-block-6 More details
                                    img.image-5._2(src='https://school.russianseasons.org/wp-content/themes/innopraktika/images/6033cb0320bd36ec3584a313_Arrow20Up20Right.svg' loading='lazy' alt='')

        div
            #about.about-2021-s.wf-section
                .container-about
                    .div-block-43.music
                        .text-block-14.ballet ART SESSION
                        .text-block-14.ballet-mob
                        .div-block
                            .div-block-12(style='transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); opacity: 1; transform-style: preserve-3d;')
                                .div-block-32
                                h2.h2-session Programme
                            .div-block-93
                                p.paragraph-3(style='transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); opacity: 1; transform-style: preserve-3d;')
                                    | From May 2 to 13, the Republic of Senegal hosted the first overseas art session of the Innopraktika & Russian Seasons School. The preparations for the session’s launch had been underway since last year. The School was founded by the Innopraktika company and the Russian Seasons cultural project.
                                    br
                                    br
                                    | Sixteen talented painters and sculptors from seven African countries were selected from more than 100 applications. Students from the Republic of Cameroon, Republic of Guinea, Republic of Burundi, Republic of Senegal, Republic of Tunisia, Republic of Congo, and the Democratic Republic of Congo came to Dakar, the capital of Senegal, to create artworks on a given topic under the responsive guidance of four teachers from the Ilya Repin St. Petersburg Academy of Fine Arts.
                                p.paragraph-3(style='transform: translate3d(0px, 50px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); opacity: 0; transform-style: preserve-3d;')
                                    | The course took place at the Place du Souvenir Africain, a large cultural cluster on the Atlantic coast, supported by the École Nationale des Arts et Métiers de la Culture (the National School of Arts and Crafts in Dakar). The course began with sprint sketches from nature. Young artist, sculptors and their mentors acted as models, and the task of the rest of the students was to catch the basic movements, pose and character of the model in 8 minutes. Preparing final qualification works was the second stage of training. Participants were working on an art piece for two weeks, reflecting on the session’s topic: “Creativity Unites: Preserving Global Values.” The session concluded with a qualification work presented at the exhibition in Dakar.

                    .div-block-44
                        .div-block-2
                            .div-block-12(style='transform: translate3d(0px, 50px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); opacity: 0; transform-style: preserve-3d;')
                                .div-block-32
                                h2.h2-session VENUE
                            .div-block-92
                                p.paragraph-3(style='transform: translate3d(0px, 50px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); opacity: 0; transform-style: preserve-3d;')
                                    | École Nationale des Arts et Métiers de la Culture in Dakar is an institution providing elementary, secondary, and higher professional education. The main task of the institution is to provide academic training in the performing arts and fine arts, as well as in the organization of cultural events. École Nationale des Arts et Métiers de la Culture also educates private sector civil servants and foreign nationals. This institution is the main instrument used by the Republic of Senegal to promote research and education in the field of art and culture.
                        .text-block-15 2022

                    .text-block-13

        div
            .university-s.wf-section(style='background-color: #e16c03;')
                .container._3
                    .div-block-12._3(style='-webkit-transform:translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0')
                        .div-block-32._2
                        h2.h2-session-wh ABOUT ST. PETERSBURG ACADEMY OF ARTS

                    .div-block-45
                        img.image-20(src='https://school.russianseasons.org/wp-content/uploads/2021/03/6036bdcd65493c56d87a6d44_img10-tiny.jpg' alt='' style='-webkit-transform:translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0' data-w-id='56c4648f-19cc-9dce-d685-6181b0333d09' loading='lazy' title='')

                        .slider-3.w-slider(data-animation='slide' data-disable-swipe='1' data-duration='500' data-infinite='1')
                            .w-slider-mask
                                .slide-3.w-slide
                                    .div-block-46
                                        .text-block-16(style='-webkit-transform:translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0')
                                            | The Imperial Academy of Arts was founded in 1757 The very next year, a number of classes,  including those in painting, sculpture, architecture and engraving, started functioning all at  once.
                                    .div-block-46
                                        .text-block-16(style='-webkit-transform:translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0')
                                            | The course of instruction there spanned nine years and included the study of the arts of  engraving, portraiture, sculpture and architecture. They started with drawing, in order to  comprehended simple techniques of drawing without a ruler, then proceeded to copying model works of art (by drawing plaster copies of antique sculptures or making engravings from  paintings and drawings by the best artists of the past), and finally, to drawing nude sitters.

                                .slide-3.w-slide
                                    .div-block-46
                                        .text-block-16(style='-webkit-transform:translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0')
                                            | The Academy was giving courses in plastic anatomy, architectural graphics, general school subjects, and languages.
                                    .div-block-46
                                        .text-block-16(style='-webkit-transform:translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0')
                                            | The international activities started since 1760, when the best graduates were sent abroad to  continue their practical studies for the first time.
                                    .div-block-46
                                        .text-block-16(style='-webkit-transform:translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0')
                                            | A whole constellation of outstanding Russian artists studied at the Academy, such as painters I.E. Repin, I.N. Kramskoy, V.I.Surikov, V.A.Serov, F.S.Rokotov, D.G. Levitsky, O.A. Kiprensky,  K.P.Bryullov, architects V.I.Bazhenov, I.E. Starov, A.D. Zakharov, sculptors F.I.Shubin, M.I.Kozlovsky, S.S. Pimenov, P.K. Klodt, to name but a few.

                            .left-arrow-4.w-slider-arrow-left
                                .icon-5.w-icon-slider-left

                            .right-arrow-4.w-slider-arrow-right
                                .icon-5.w-icon-slider-right

                            .slide-nav-3.w-slider-nav.w-round

        div
            .teachers-s.wf-section
                .container._3
                    h2.h2-session-bl(style='transform: translate3d(0px, 50px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); opacity: 0; transform-style: preserve-3d;')
                        | PROFESSORS

                        .div-block-57-teacher(style='transform: translate3d(0px, 50px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; opacity: 0;')

                        .dropdown-teacher.music.w-dropdown(data-hover='' data-delay='0'  style='background-color: rgb(255, 255, 255);')
                            #w-dropdown-toggle-3.dropdown-toggle-teacher.w-dropdown-toggle(aria-controls='w-dropdown-list-3' aria-haspopup='menu' aria-expanded='false' role='button' tabindex='0')
                                img.image-teacher(src='https://school.russianseasons.org/wp-content/uploads/2022/05/admin-ajax.jpg' loading='lazy' alt='' title='')
                                .div-block-62-teacher
                                    .heading-teacher(style='color:rgb(29,29,27)') Anastasia Nikolaeva
                                    .text-block-teacher(style='color:rgb(128,128,128)') Is a painter, muralist, graphic artist and teacher of the Academy of Fine Arts.
                                .icon-6.w-icon-dropdown-toggle(style='transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); color: rgb(29, 29, 27); transform-style: preserve-3d;' aria-hidden='true')

                            nav#w-dropdown-list-3.dropdown-list-2.w-dropdown-list(aria-labelledby='w-dropdown-toggle-3')
                                .div-block-63-teacher(style='height: 0%;')
                                    .div-block-89
                                        p.paragraph-5-teacher After graduating from high school, Anastasia Nikolaeva was admitted to the department of painting at the Repin Institute without exams! Here she studied at the studio of monumental painting under the guidance of People's Artist of the USSR, Professor A. A. Mylnikov.   Anastasia also completed an internship at the Berlin Academy of Fine Arts, participated in many Russian and international competitions and exhibitions, and upon completion of her studies she was awarded a scholarship trip to Italy.   Anastasia is a member of the St. Petersburg Union of Artists, as well as a winner of the Gold Medal of the Russian Academy of Arts.
                                    .div-block-89
                                        p.paragraph-5-teacher

        div
            .student-s.wf-section
                .container._3
                    h2.h2-session-bl.ballet(style='transform: translate3d(0px, 50px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); opacity: 0; transform-style: preserve-3d;')
                        | STUDENTS

                    .div-block-64(style='transform: translate3d(0px, 50px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); opacity: 0; transform-style: preserve-3d;')
                        .div-block-61
                            .dropdown.w-dropdown(data-hover='' data-delay='0')
                                #w-dropdown-toggle-7.dropdown-toggle-2.w-dropdown-toggle(aria-controls='w-dropdown-list-7' aria-haspopup='menu' aria-expanded='false' role='button' tabindex='0')
                                    img.image-21(src='https://school.russianseasons.org/wp-content/uploads/2022/05/Abdoulaye-Ndiaye.jpeg' loading='lazy' alt='' title='Abdoulaye Ndiaye')
                                    .div-block-62
                                        .heading-8 Abdoulaye Ndiaye
                                        .text-block-20 Republic of Senegal
                                    .icon-4.w-icon-dropdown-toggle(style='transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;' aria-hidden='true')

                                nav#w-dropdown-list-7.dropdown-list-2.w-dropdown-list(aria-labelledby='w-dropdown-toggle-7')
                                    .div-block-63(style='height: 0%;')
                                        p.paragraph-5 Abdoulaye Ndiaye was born in Saint-Louis, Senegal. After finishing high school in 2019, he enrolled in the Virtual University of Senegal (UVS). In 2020, he participated in the National Art Competition (ENA) and won in the student-teacher nomination. Abdoulaye took part as well in numerous competitions and art workshops both in Saint-Louis and in Dakar and received lots of  awards. Abdoulaye was a resident of the Saint-Louis collective exhibition in 2021. The artist also became the first prize laureate of the National Painting Competition, which was organised by the delegation of the European Union in Senegal together with the Ministry of Culture and Communications in 2022.

                        .div-block-61
                            .dropdown.w-dropdown(data-hover='' data-delay='0')
                                #w-dropdown-toggle-15.dropdown-toggle-2.w-dropdown-toggle(aria-controls='w-dropdown-list-15' aria-haspopup='menu' aria-expanded='false' role='button' tabindex='0')
                                    img.image-21(src='https://school.russianseasons.org/wp-content/uploads/2022/05/PHOTO-DEMERGE-MUTOMBO-scaled.jpg' loading='lazy' alt='' title='PHOTO DEMERGE MUTOMBO')
                                    .div-block-62
                                        .heading-8 Mutombo Kalunga Demerge
                                        .text-block-20 Democratic Republic of the Congo
                                    .icon-4.w-icon-dropdown-toggle(style='transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;' aria-hidden='true')

                                nav#w-dropdown-list-15.dropdown-list-2.w-dropdown-list(aria-labelledby='w-dropdown-toggle-15')
                                    .div-block-63(style='height: 0%;')
                                        p.paragraph-5 Mutombo Kalunga Demerge is a plastic artist, poet and musician who showed his love for art from an early age. He was born in Kinshasa, the capital of the Democratic Republic of the Congo, and immediately immersed himself in the study of drawing, and then painting. Demerge is a figurative artist who received a classical academic art education. He draws inspiration in the modern era and leans towards the hyperrealistic direction in his artworks, bringing impressionist features to this style.  In 2011, he stepped into the world of creativity and entered the Institute of Fine Arts in Kinshasa, where he passed his final exams in painting in 2015. The artist continued his studies at the Academy of Fine Arts in Kinshasa, majoring in painting, received a bachelor's degree in fine arts in 2018, and then, in 2021, a master's degree with honours. He is a member of the "Art and Life" community, created by him and his friends in 2019. To date, the community has created two large murals, one of which is located at the Academy of Fine Arts in Kinshasa, and the other at the German Embassy in the Democratic Republic of the Congo. In addition, “Art and Life” has held two collective exhibitions. Demerge's creative plans include writing, plastic art, painting and music.

        div
            .student-work-s.wf-section
                .container._3.w-container
                    h2.h2-session-bl.art(style='transform: translate3d(0px, 50px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); opacity: 0; transform-style: preserve-3d;')
                        | GRADUATE
                        span.red WORKS 2022
                    .slider2-wrp
                        .arrow-wrp
                            .prev1.slick-arrow(style='')
                                .icon-3.black.w-icon-slider-left
                            .next1.slick-arrow(style='')
                                .icon-3.black.w-icon-slider-right

                        .slider2
                            .newslide
                                img.image-25(src='https://school.russianseasons.org/wp-content/uploads/2022/05/Abdoulaye-Ndiaye-1-scaled.jpeg' loading='lazy' alt='' title='Abdoulaye Ndiaye (1)')
                                .newslider-text
                                    .dropdown-works.w-dropdown(data-hover='' data-delay='0')
                                        .dropdown-toggle-works.w-dropdown-toggle
                                            .div-block-62-copy
                                                h3.slider-title Abdoulaye Ndiaye
                                                .slider-text A comfortable world
                                            .icon-4.w-icon-dropdown-toggle(style='-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0)')

                                        nav.dropdown-list-works.w-dropdown-list
                                            .div-block-63(style='height:0%')
                                                p.paragraph-5 The artwork focuses on universal values embodying peace. To show this there are allegorically depicted 5 most important factors of peaceful life, namely dialogue, love, respect, solidarity and tolerance.   The painting shows a woman who embodies the love and respect, which are disponible conditions of living in harmony. The mask on her face represents African communication means of great cultural significance. The colors chosen for necklaces and bracelets symbolize peace, love, tranquility, creativity and joy. This woman holds our planet in her hands calmly, firmly and tenderly, with the figure of a dove meaning an ideal and stable world without any hostility and cruelty. A world that generates happiness, cultural exchange and dialogue between brothers and sisters, families, nationalities, races, people of different skin colors, countries and continents.
                    .video-wrp

        div
            .gallery-s.wf-section
                .div-block-88
                    .container._3
                        h2.h2-session-bl.ballet Gallery

                .gallery
                    a.lightbox-link.w-inline-block.w-lightbox(href='#')
                        .gallery-item(style="background-image:url('https://school.russianseasons.org/wp-content/uploads/2022/05/photo5212940904422292375.jpg');")
                        script.w-json(type='application/json').
                            {"group":"\\u0424\u043e\u0442\u043e\u0433\u0430\u043b\u0435\u0440\u0435\u044f","items":[{"url":"https://school.russianseasons.org/wp-content/uploads/2022/05/photo5212940904422292375.jpg","type":"image","caption":""}]}

                    a.lightbox-link.w-inline-block.w-lightbox(href='#')
                        .gallery-item(style="background-image:url('https://school.russianseasons.org/wp-content/uploads/2022/05/photo5212940904422292375.jpg');")
                        script.w-json(type='application/json').
                            {"group":"\\u0424\u043e\u0442\u043e\u0433\u0430\u043b\u0435\u0440\u0435\u044f","items":[{"url":"https://school.russianseasons.org/wp-content/uploads/2022/05/photo5212940904422292375.jpg","type":"image","caption":""}]}

                    a.lightbox-link.w-inline-block.w-lightbox(href='#')
                        .gallery-item(style="background-image:url('https://school.russianseasons.org/wp-content/uploads/2022/05/photo5212940904422292375.jpg');")
                        script.w-json(type='application/json').
                            {"group":"\\u0424\u043e\u0442\u043e\u0433\u0430\u043b\u0435\u0440\u0435\u044f","items":[{"url":"https://school.russianseasons.org/wp-content/uploads/2022/05/photo5212940904422292375.jpg","type":"image","caption":""}]}

                    a.lightbox-link.w-inline-block.w-lightbox(href='#')
                        .gallery-item(style="background-image:url('https://school.russianseasons.org/wp-content/uploads/2022/05/photo5212940904422292375.jpg');")
                        script.w-json(type='application/json').
                            {"group":"\\u0424\u043e\u0442\u043e\u0433\u0430\u043b\u0435\u0440\u0435\u044f","items":[{"url":"https://school.russianseasons.org/wp-content/uploads/2022/05/photo5212940904422292375.jpg","type":"image","caption":""}]}

                    a.lightbox-link.w-inline-block.w-lightbox(href='#')
                        .gallery-item(style="background-image:url('https://school.russianseasons.org/wp-content/uploads/2022/05/photo5212940904422292375.jpg');")
                        script.w-json(type='application/json').
                            {"group":"\\u0424\u043e\u0442\u043e\u0433\u0430\u043b\u0435\u0440\u0435\u044f","items":[{"url":"https://school.russianseasons.org/wp-content/uploads/2022/05/photo5212940904422292375.jpg","type":"image","caption":""}]}

                .div-block-56._2
                    a.btn.pdf.w-inline-block(href='#')
                        .text-block-6 view more photos
                        img.image-5(src='https://school.russianseasons.org/wp-content/themes/innopraktika/images/60315dbd7bdaa931b5abef54_diagonal-arrow201.svg' loading='lazy' alt='')
